.obsidian/workspace.json
.obsidian/graph.json
.obsidian/plugins/surfing/data.json
.obsidian\appearance.json
.obsidian\plugins

.trash/*

*.dstore
*.DS_Store

idea/*


# Ignore Smart Connections folder because embeddings file is large and updated frequently
.smart-connections
